parameters:
      
    customers:
        px:
            - 5000
            - 1000
            - 1010
            - 3000
            - 2010
            - 2020
            - 2
            - 2000

        acheron:
            - 2
            - 10666535
            - 10141841
            - 10109889
            - 10731333
            - 10428816
            - 10977365
